.blogGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
    width: 25svw; 
    padding: 0px 20px;   
    box-shadow: 1px 0px 0px  rgba(0, 0, 0, 0.4);
  }
  
  .blogContainer {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: black;
    height: 8svh;
    box-shadow: 0px 1px 0px  rgba(0, 0, 0, 0.4);
  }
  .blogContainer:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .blogImage {
    width: 80px;
    height: 60px;
    border-radius: 10px;
    margin-right: 8px;
  }
  
  .blogContent {
    flex-grow: 1;
    text-align: justify;
    margin: auto;
  }
  
  .blogContainer h6 {
    margin: 0;
  }
  
  .blogContainer a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .blogContainer a:hover {
    color: #0b63c2;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    
    .blogGrid {
      width: 90%;      
      height: 50vh;
      overflow: auto;
    }
  
    .blogContainer {
      height: auto; 
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .blogImage {
      width: 18%;
      height: auto;
      margin-right: 0;
      border-radius: 0;
      margin-right: 10px;
    }
  
    .blogContent {
      margin: 10px 0; 
    }
  }